/Semester 5/Advanced Programming/Producer_Consumer/Producer_Consumer/target/
/Semester 5/Advanced Programming/_CA/EventDescriptionServer/target/
/Semester 5/Advanced Programming/_CA/EventDescriptionClient/target/
/Semester 5/Advanced Networks/TCPUDP/target/
/Semester 5/Advanced Programming/HelloWorldWebService - Copy/target/
/Semester 5/Advanced Programming/LibrarySystemWebService/target/
